/* @override 
	http://localhost:4000/css/main.css */


@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,100,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Raleway:800);
* {
    margin: 0px;
    padding: 0px;
}
body {
    color: #141515;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
    overflow-x: hidden;
}
#main h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-weight: 400;
    color: #315572;
}
#main h4 {
    line-height: 1.6em;
}
header {
    padding-bottom: 20px;
    padding-top: 20px;
}
header h1 {
    padding-top: 1em;
    font-weight: bold;
    font: 1em -apple-system-headline, "Droid Sans Mono", Courier, mono;
    text-transform: lowercase;
    margin-left: 25px;
    padding-bottom: 2.1em;
}
header h1 a {
    color: #ffffff;
    font-size: 32px;
    background-color: #0f2e57;
    padding: 10px 13px;
}
header h1 a:hover {
    color: #76a0dd;
}
#nav_container {
    margin-left: auto;
    margin-right: auto;
	padding-right: 32px;
	padding-left: 32px;
	width: 640px;
}
#current {
    background-color: #b91414;
}
nav {
    font-weight: 200;
    font-family: -apple-system, Roboto, Helvetica, Arial;
    text-transform: uppercase;
    margin-left: -43px;
	margin-bottom: -20px;
	margin-top: -15px;
}
nav ul li {
    display: inline;
    color: #9f9f9f;
	font-size: 105%;
}
nav ul li a {
    color: #324787;
    padding: 8px 9px;
    margin: 0 -10px 0px;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: #ffffff;
    background-color: #000000;
}
.heading {
    font: 1.5em Raleway, Helvetica;
    text-transform: uppercase;
    margin-top: 1.2em;
    margin-bottom: 1.3em;
}
.heading a {
    color: #126ab1;
}
p em {
    font-style: italic;
	font-size: 98%;
}
.meta {
    color: #666666;
    font-family: -apple-system, "Roboto", Courier, mono;
    font-weight: 100;
    text-align: left;
    margin-bottom: 1em;
    height: 32px;
    margin-top: -1.5em;
}
h2 {
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1em;
}
h6 {
    font-size: 12px;
    font-style: italic;
}
p {
    font-size: 0.8em;
    margin-bottom: 15px;
    margin-top: 12px;
    line-height: 1.7em;
}
p strong {
    font-weight: 500;
    font-style: normal;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif !important;
}
article {
    margin-top: 32px;
    margin-bottom: 3em;
}
.label {
    display: inline-block;
    padding: .3em .6em .4em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 100%;
    margin-right: 6px;
    margin-bottom: 5px;
}
.label a {
    font: 75% -apple-system, Roboto, Helvetica Neue, Helvetica, "Open Sans", Arial, sans-serif;
    font-weight: 300 !important;
    color: #ffffff;
}
.label-default {
    background-color: #254d82
}
.label-default:hover {
    background-color: #75a0de
}
.label-default a:hover {
    color: #ffffff !important
}
.permalink a {
    font-size: 90%;
    text-decoration: none;
}
.tag-header {
    font-family: Raleway, Helvetica;
    text-transform: uppercase;
}
hr {
    margin: 32px 0em;
    background: #eee;
    height: 1px;
    border-style: none;
}
#main {
    padding-right: 32px;
    padding-left: 32px;
}
ul {
	margin: 20px;
}
li {
    margin-left: 5%;
	margin-top: 5px;
	line-height: 1.6em;
	font-size: 0.8em;
	margin-bottom: 5px;
}
a {
    color: #76a0de;
    text-decoration: none;
}
a:hover {
    color: #274977
}
#main p img {
    width: 100%
}
article p a {
    border-bottom: 1px solid #e4edf9 font-weight: normal;
    font-style: normal;
}
.badge {
    background-color: #c25a5a;
}
blockquote {
    border-left: 5px solid #8197b9;
    padding-left: 1.5em;
    padding-top: 0.32px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 100;
    padding-bottom: 0.32px;
}
footer {
    font: 80% Roboto;
    color: #33536b;
    font-weight: 300;
    margin-top: 32px;
    height: 3em;
}
footer .contact {
    float: right;
    margin-right: auto;
    margin-top: 1em;
    line-height: 1.7em;
    margin-left: auto;
}
footer .contact a {
    color: #90a7ba
}
footer .rss {
    margin-top: 1.1em;
    margin-right: -.32px;
    float: right;
}
footer .rss img {
    border: 0
}
pre {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 0.7em;
	margin-top: 30px;
	margin-bottom: 30px;
}
pre,
code {
	font-family: "Droid Sans Mono", "Monaco", "Courier New", Courier, mono;
}
code {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position: relative;
    color: #494949;
    background-color: #f7f7f7;
    padding: 0.32px 0.5em;
	font-size: 0.9em;
}
#archive h3,
#tags h3 {
    margin-bottom: 1em
}
#archive li,
#tags li {
    margin-bottom: 10px;
    list-style-type: none;
    margin-left: 10px;
}
#profile img {
    width: 50%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#archive li span,
#tags li span {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif !important;
    font-weight: 300;
    color: #305471;
}
#archive li span.details,
#tags li span.details {
    font-weight: 300;
    color: #9f9f9f;
    font: 14px "Open Sans", Helvetica Neue, Helvetica, Arial, Sans-serif !important;
    position: relative;
    top: 2px;
    margin-right: 5px;
    margin-left: 32px;
}
.pager {
    padding-left: 0;
    margin: 50px 0;
    text-align: center;
    list-style: none;
}
.pager li {
    display: inline
}
.pager .previous a {
    float: left
}
.pager .next a {
    float: right
}
@media (min-width: 704px) {

    #main {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-size: 0.95em;
        margin-bottom: 15px;
        margin-top: 12px;
        line-height: 1.6em;
    }
    li {
    	font-size: 0.9em;
    }
    .heading {
        font-size: 32px
    }
    pre {
		font-size: 0.8em;
	}
}

/*head Start*/
#ds-thread #ds-reset ul.ds-comments-tabs li.ds-tab a.ds-current {
    border: 0px;
    color: #6D6D6B;
    text-shadow: none;
    background: #F3F3F3;
}
#ds-thread #ds-reset .ds-highlight {
    font-family: Microsoft YaHei, "Helvetica Neue", Helvetica, Arial, Sans-serif;/*评论字体*/
    font-size: 100%;
    color: #6D6D6B !important;
}
#ds-thread #ds-reset ul.ds-comments-tabs li.ds-tab a.ds-current:hover {
    color: #696a52;
    background: #F2F2F2;
}
#ds-thread #ds-reset a.ds-highlight:hover {
    color: #696a52 !important;
}
#ds-thread {
    padding-left: 15px;
}
#ds-thread #ds-reset li.ds-post,#ds-thread #ds-reset #ds-hot-posts {
    overflow: visible;
}
#ds-thread #ds-reset .ds-post-self {
    padding: 10px 0 10px 10px;
}
#ds-thread #ds-reset li.ds-post,#ds-thread #ds-reset .ds-post-self {
    border: 0 !important;
}
#ds-reset .ds-avatar, #ds-thread #ds-reset ul.ds-children .ds-avatar {
    top: 15px;
    left: -20px;
    padding: 5px;
    width: 36px;
    height: 36px;
    box-shadow: -1px 0 1px rgba(0,0,0,0.15) inset;
    border-radius: 46px;
    background: #F6F8FA;/*头像旁边圆圈颜色*/
}
#ds-thread .ds-avatar a {
    display: inline-block;
    padding: 1px;
    width: 32px;
    height: 32px;
    border: 1px solid #b9baa6;
    border-radius: 50%;
    background-color: #fff !important;
}
#ds-thread .ds-avatar a:hover {
}
#ds-thread .ds-avatar > img {
    margin: 2px 0 0 2px;
}
#ds-thread #ds-reset .ds-replybox {
    box-shadow: none;
}
#ds-thread #ds-reset ul.ds-children .ds-replybox.ds-inline-replybox a.ds-avatar,
#ds-reset .ds-replybox.ds-inline-replybox a.ds-avatar {
    left: 0;
    top: 0;
    padding: 0;
    width: 32px !important;
    height: 32px !important;
    background: none;
    box-shadow: none;
}
#ds-reset .ds-replybox.ds-inline-replybox a.ds-avatar img {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
}
#ds-reset .ds-replybox a.ds-avatar,
#ds-reset .ds-replybox .ds-avatar img {
    padding: 0;
    width: 32px !important;
    height: 32px !important;
    border-radius: 5px;
}
#ds-reset .ds-avatar img {
    width: 32px !important;
    height: 32px !important;
    border-radius: 32px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
    -webkit-transition: .8s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
}
.ds-post-self:hover .ds-avatar img {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
#ds-thread #ds-reset .ds-comment-body {
    -webkit-transition-delay: initial;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: initial;
/*    background: #FFFFFF;评论背景色，我这里没有设置，如果想要要设置取消注释即可*/
    padding: 15px 15px 15px 47px;
    border-radius: 5px;
    box-shadow: #B8B9B9 0 1px 3px;
    border: white 1px solid;
}
#ds-thread #ds-reset ul.ds-children .ds-comment-body {
    padding-left: 15px;
}
#ds-thread #ds-reset .ds-comment-body p {
    color: #787968;
}
#ds-thread #ds-reset .ds-comments {
    border-bottom: 0px;
}
#ds-thread #ds-reset .ds-powered-by {
    display: none;
}
#ds-thread #ds-reset .ds-comments a.ds-user-name {
    font-weight: normal;
    color: #3D3D3D !important;
}
#ds-thread #ds-reset .ds-comments a.ds-user-name:hover {
    color: #D32 !important;
}
#ds-thread #ds-reset #ds-bubble {
    display: none !important;
}
#ds-thread #ds-reset #ds-hot-posts {
    border: 0;
}
#ds-reset #ds-hot-posts .ds-gradient-bg {
    background: none;
}
#ds-thread #ds-reset .ds-comment-body:hover {
    background-color: #F1F1F1;
    -webkit-transition-delay: initial;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: initial;
}
/*Head End*/